body {
    background-color: black;
    background-image: url('https://i.pinimg.com/originals/b1/29/94/b1299445c4554f275b1d60595b329788.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    font-family: 'Roboto', sans-serif;
    font-family: 'Gothic', sans-serif;
}

.navbar {
    background-color: #0a0a0a !important;
    box-shadow: 0px 0px 20px 0px #000;
    z-index: 999;
}

.title {
    font-family: 'Creepster', cursive;
    color: rgb(255, 179, 0) !important;
    font-weight: normal;
    letter-spacing: 3px;
    font-size: 40px;
    text-shadow: -2px -2px 0 #000000, 2px -2px 1px #000, -2px 2px 1px #000, 2px 2px 1px #000, -6px -4px 1px #dbdbdb;
}

.form-control {
    color: #fff;
    border-radius: 2px;
}

.btn-outline-success {
    color: rgb(255, 179, 0);
    border-color: rgb(255, 179, 0);
    border-radius: 2px;
}

.btn-outline-success:hover {
    background-color: rgb(255, 179, 0);
    color: #fff;
}

.mainContainer {
    /* background-color: rgb(180, 179, 179); */
    padding-top: 25px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 25px;
    background-color: rgb(23, 23, 23);
    height: calc(100vh - 150px);
    box-shadow: 0px 20px 20px 20px #000;
    overflow-y: auto;
}

#searchResults {
    font-weight: bold;
    font-size: 24px;
    color: rgb(159, 159, 159);
}

#results {
    margin-top: 10px;
}

.result {
    align-items: start;
    color:#8c8c8c;
    letter-spacing: 2px;
    margin: 10px;
    padding: 0px;
}

.result:hover {
    cursor: pointer;
}

.suggestionImg {
    max-width: 90%;
    /* max-height: 60%; */
    width: auto;
    /* height: 300px; */
    height: 250px;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.5); 
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
}

.resultImg {
    max-width: 100%;
    max-height: 400px;
    box-shadow: 10px 5px 10px rgba(0, 0, 0, 0.5); 
    border: 1px solid black;
    margin: 0px;
    padding: 0px;
}

.suggested {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0px ;
    padding: 0px;
    color:#8c8c8c;
    font-size: 14px;
}

.recommended {
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    color: rgb(159, 159, 159);
    font-size: 24px;
    margin-top: 15px;
    letter-spacing: 2px;
}

.nearbyEntry {
    display: inline-block;
    margin-right: 10px;
    margin-left: 10px;
    color: rgb(146, 146, 146);
}

.imgCol {
    display: flex;
    flex-direction: column;
    /* justify-content: center !important;
    align-items: center !important; */
    text-align: right;
    font-size: 10px;
}

.editLink {
    color: rgb(159, 159, 159);
}

#topRow {
    margin-bottom: 30px !important;
}

#resultTitle {
    letter-spacing: 1px;
    color: white;
    font-size: 24px;
}

#resultOpened {
    letter-spacing: 1px;
    color: #333333;
    font-size: 16px;
}

#resultAddress {
    letter-spacing: 1px;
    color: #5e5e5e;
}

#resultNearby {
    letter-spacing: 1px;
    color: #5e5e5e;
}

#resultDescription {
    font-size: 12px;
    color: #5e5e5e;
    letter-spacing: 0.8px;
}

.commentEntry {
    margin-bottom: 15px;
    font-size: 12px;
    color: #5e5e5e;
}

#comments {
    color: #9b9b9b;
    font-size: 20px;
    letter-spacing: 1px;
    margin-top: 50px;
}

.topComment {
    margin-bottom: 25px;
    font-size: 14px;
    color: #5e5e5e;
    font-style: italic;
}

#headerRow {
    margin-bottom: 20px;
}

.dspan {
    color: #9b9b9b;
    margin-bottom: 15px;
    font-size: 20px;
    letter-spacing: 1px;
}

.suggestionYear {
    color: #414141;
    text-align: center;
}

.suggestionDiv {
    text-align: center;
}

.suggestionComment {
    text-align: center;
    padding: 20px;
    color: #787878;
    font-size: 13px;
    letter-spacing: 0.8px;
}

.welcomeDiv {
    padding-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color :#020202;
    font-family: 'Creepster', cursive;
    color: rgb(255, 179, 0) !important;
    font-weight: normal;
    letter-spacing: 3px;
    font-size: 40px;
    text-shadow: -2px -2px 0 #000000, 2px -2px 1px #000, -2px 2px 1px #000, 2px 2px 1px #000, -6px -4px 1px #dbdbdb;
}

.welcomeDescription {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color :#020202;
    padding-bottom: 30px;
    color: #9b9b9b;
    margin-bottom: 50px;
    text-align: center;
}

#openImg {
    height: 200px;
    width: auto;
    padding: 15px;
}

.highlighted {
    background-color: yellow;
    color: black;
}

.custom-form {
    background-color: black;
    border-radius: 8px;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    /* max-width: 400px; */
    width: 80%;
    color: rgb(255, 179, 0);
}

.custom-form label {
    display: block;
    margin-bottom: 8px;
    font-weight: bold;
}

.custom-form input,
.custom-form textarea,
.custom-form select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 14px;
    background-color: #0a0a0a;
    color: rgb(255, 179, 0);
}

.custom-form button {
    background-color: #4CAF50;
    color: #fff;
    padding: 10px 15px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

.formContainer {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

#newItem {
    padding: 25px;
    text-align: center;
    z-index: 999;
}

#newItem::selection {
    background-color: white;
    color: black; /* Adjust the text color as needed */
}

.highlighttext {
    background-color: white;
    padding: 10px;
}


