{% extends "layout.html" %}

{% block content %}

<script type="text/javascript" src="{{ url_for('static', filename = 'add.js') }}"></script>

<div class="formContainer">
    <form class="custom-form">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title" pattern="^\s*\d*[a-zA-Z][a-zA-Z0-9]*\s*$" oninvalid="InvalidMsg(this);" required>

        <label for="image_link">Image Link:</label>
        <input type="text" id="image_link" name="image_link" pattern="^\s*\d*[a-zA-Z][a-zA-Z0-9]*\s*$" oninvalid="InvalidMsg(this);" required>

        <label for="address">Address:</label>
        <input type="text" id="address" name="address" pattern="^\s*\d*[a-zA-Z][a-zA-Z0-9]*\s*$" oninvalid="InvalidMsg(this);" required>

        <label for="nearby_locations">Nearby Locations (comma-separated):</label>
        <input type="text" id="nearby_locations" name="nearby_locations" pattern="^\s*\d*[a-zA-Z][a-zA-Z0-9]*\s*$" oninvalid="InvalidMsg(this);" required>

        <label for="opened_year">Year Opened (YYYY):</label>
        <input type="number" min="1001" step="1" id="opened_year" name="opened_year" required>

        <label for="description">Description:</label>
        <input id="description" name="description" rows="4" pattern="^\s*\d*[a-zA-Z][a-zA-Z0-9]*\s*$" oninvalid="InvalidMsg(this);" required></textarea>

        <label for="comments">Comments (comma-separated):</label>
        <input type="text" id="comment" name="comment" pattern="^\s*\d*[a-zA-Z][a-zA-Z0-9]*\s*$" oninvalid="InvalidMsg(this);" required>

        <button type="submit">Submit</button>
    </form>
</div>

{% endblock %}
