{% extends "layout.html" %}

{% block content %}

<script>
    let results = {{result_data|tojson}};
</script>

<script type="text/javascript" src="{{ url_for('static', filename = 'edit.js') }}"></script>

<div class="formContainer" id="formContainer">
    <form class="custom-form" id="addForm">
        <label for="title">Title:</label>
        <input type="text" id="title" name="title">

        <label for="image_link">Image Link:</label>
        <input type="text" id="image_link" name="image">

        <label for="address">Address:</label>
        <input type="text" id="address" name="address">

        <label for="nearby_locations">Nearby Locations (ids separated by ', ') - optional:</label>
        <input type="text" id="nearby_locations" name="nearby">

        <label for="opened_year">Year Opened:</label>
        <input type="text" id="opened_year" name="opened">

        <label for="description">Description:</label>
        <input type="text" id="description" name="description">

        <label for="comment">Comments (separated by ', ') - optional:</label>
        <input type="text" id="comment" name="comments">

        <button type="submit" id="addSubmit">Submit</button>
        <button id="discardBtn">Discard Changes</button>
    </form>
</div>

{% endblock %}
